<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58020321170-ssg85cb1tpaa9bhotqb53gcmmvsnrksf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58020321170-ssg85cb1tpaa9bhotqb53gcmmvsnrksf</string>
	<key>API_KEY</key>
	<string>AIzaSyCkxzog63UYZGJtGtVBGRxF7S7ERkw7jm8</string>
	<key>GCM_SENDER_ID</key>
	<string>58020321170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-aa89b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-aa89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58020321170:ios:3e0c87e6e5c157ab4f534b</string>
</dict>
</plist>